.header
{
	width: 100%;
	height: 135px;
	
}
	.logo
	{
		margin-left:1%;
		margin-top:4px;
		float:left;
	}
	.logo2
	{
		margin-right:1%;
		margin-top:4px;
		float: right;
	}
	.title
	{
		font-size: 47px;
		font-weight: bolder;
		color: 	#DA70D6;
		float: left;
		margin-top: 37px;
		margin-left: 73px;
	}

.section1
{
	width: 72%;
	height: 200px;
	border-radius: 61px;
	background-color: #98D9DA;
	margin: 0 auto;
	position: relative;
	margin-top: 60px;
	margin-bottom: 128px;
}


		.description
			{
				font-size: 22px;
				font-family: arial;
				color: white;
				font-weight: bold;
				margin-top: 5px;
				position: absolute;
				top: 53px;
				text-align: center;

			} 


.section2
{
	
	height: 793px;
	width: 100%;
	background-image: url("images/plantas_casa.jpg");
	background-size: cover;
	position: relative;
	margin-bottom: 90px;
}
	.option1, .option2
	{
		position: absolute;
		font-size: 52px;
		color: #7B68EE;
	}
	.option1
	{
		top:5px;
		left:341px;
	}
	.option2
	{
		top:5px;
		right:341px;
	}

.section3
{
	width: 100%;
	height: 433px;
	margin-bottom: 91px;	
}

	.circles
	{
		width: 29%;
		height: 369px;
		border-radius: 100%;
		float: left;
		margin: 24px;
		;
	}

	.picture1, .picture2, .picture3
	{
		border: 4px solid 	#DA70D6;
		background-size: cover;
	}

	.picture1
	{
		background-image:url("images/plantas_casa2.jpg");		
		 
	}

	.picture2
	{
		background-image: url("images/plantas_casa3.jpg");
		
	}

	.picture3
	{
		background-image: url("images/plantas_casa5.jpg");
	}

	footer
	{
		width: 100%;
		height: 107px;
		background-color: 	#DA70D6;
		position:relative;
	}

		.letters
		{
			padding-top: 20px;
			padding-left: 20px;
			top: 22px;
			left: 48px;
			position: absolute;
		}

			.footer_letter
			{
				color: white;
				float: left;
				margin-right: 48px;
				font-family: arial;
				font-size: 27px;
				font-weight: bolder;
			}

		.logos
		{
			margin-right: 20px;
			height: 21px;
			padding-top: 14px;
		}

			.logo_footer
				{
					float: right;
					width: 6%;
					height: 84px;
				}